{% extends 'base.html' %}

{% block title %} Email Sent{% endblock title %}

{% block content %}
    <h1>Check your inbox</h1>
    <p>We've emailed you instruction for setting your password</p>
{% endblock content %}